<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.masterpiecedev.snapguess">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".CanvasActivity"></activity>

        <meta-data
            android:name="com.snapchat.kit.sdk.clientId"
            android:value="4664028c-98df-4c6c-904a-3e6f375156c3" />
        <meta-data
            android:name="com.snapchat.kit.sdk.redirectUrl"
            android:value="snapguess://returnapp/" />
        <meta-data
            android:name="com.snapchat.kit.sdk.scopes"
            android:resource="@array/snap_connect_scopes" />

        <activity android:name=".endGame" />
        <activity android:name=".drawGame" />
        <activity android:name=".GuessGame" />
        <activity android:name=".Rules" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.snapchat.kit.sdk.SnapKitActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!--
                    Enter the parts of your redirect url below
                    e.g. if your redirect url is my-app://abc/xy/z
                    android:scheme="my-app"
                    android:host="abc"
                    android:path="/"
                    >
                -->
                <data
                    android:host="returnapp"
                    android:path="/"
                    android:scheme="snapguess" />
            </intent-filter>
        </activity>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>